<div class="page-card">
    <h1>Premium Option</h1>

    <p>Your current status: {{#if premium}} Premium Member{{else}}Free User{{/if}}</p>

    <form method="POST" action="/premium/toggle">
        <button>
            {{#if premium}}Cancel Premium{{else}}Upgrade to Premium{{/if}}
        </button>
    </form>
</div>
